<!DOCTYPE html>
<html lang="en">

	<title>Sign up</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<script src="jquery/jquery.min.js"></script>
		<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="css/style.css">
		<!-- <script src="js/bootstrap.min.js"></script> -->
		<link rel="icon" href="images/icon.png" type="image/x-icon" />

	</head>
	<body>
	<div class="container-fluid">
		<div class="container">
			<h2 class="text-center" id="title">Camagru</h2>
 			<hr>
			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="post" action="login/user">
						<fieldset>							
							<p class="text-uppercase pull-center">Please fill in ALL the details below</p>	
 							<div class="form-group">
								<input type required="text" name="username" id="username" class="form-control input-lg" placeholder="Create username">
							</div>
							<div class="form-group">
								<input required type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
							</div>
							<div class="form-group">
								<input required type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
							</div>
								<div class="form-group">
								<input required type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Retype Password">
							</div>
							<div class="form-check">
								<label class="form-check-label">
								  <input type="checkbox" class="form-check-input">
								  By Clicking register you're agree to being part of our awesome family and promise to update your profile... at least once a year... every second year.. or third who's counting
								</label>
							  </div>
 							<div>
									   <input type="submit" class="btn btn-lg btn-primary   value="Register">
 							</div>
						</fieldset>
					</form>
				</div>
				
				<div class="col-md-2">
					<!-------null------>
				</div>
				
				<div class="col-md-5">
 				 		<form role="form">
						<fieldset>							
							<p class="text-uppercase">Already a member? Login using your details</p>	
 								
							<div class="form-group">
								<input type="text" name="username" id="usrname" class="form-control input-lg" placeholder="username">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="pass" class="form-control input-lg" placeholder="Password">
							</div>
							<div>
								<input type="submit" class="btn btn-md" value="Sign In">
							</div>
								 
 						</fieldset>
				</form>	
				</div>
			</div>
		</div>
	</div>
	</body>
	 

</html>